.eddie {
  text-align: center;
  background-color: #282c34;
}

.eddie-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.map {
  margin-left: 5rem;
  padding-left: 7rem;
  height: 85rem;
  width: 125rem;
}

.leaflet-container {
  height: 85rem;
  width: 125rem;
}
